Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Blueprints/EnemyTest.uasset
Content/ThirdPersonBP/Blueprints/Player/ThirdPersonCharacter.uasset
