Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/RidingHood.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Autosaves/PackageRestoreData.json
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
